{{/* Icon partial template */}}
{{/* This template displays an icon based on the name parameter */}}
{{/* Usage: {{ partial "icon.html" (dict "ctx" $ "name" "icon-name") }} */}}

{{ $name := .name }}
{{ $class := printf "icon icon-%s" $name }}

<span class="{{ $class }}">
  {{- if eq $name "calendar" -}}
    📅
  {{- else if eq $name "clock" -}}
    🕒
  {{- else if eq $name "tag" -}}
    🏷️
  {{- else if eq $name "category" -}}
    📁
  {{- else if eq $name "user" -}}
    👤
  {{- else if eq $name "comment" -}}
    💬
  {{- else if eq $name "search" -}}
    🔍
  {{- else if eq $name "home" -}}
    🏠
  {{- else if eq $name "link" -}}
    🔗
  {{- else if eq $name "email" -}}
    ✉️
  {{- else if eq $name "github" -}}
    GitHub
  {{- else if eq $name "twitter" -}}
    Twitter
  {{- else if eq $name "facebook" -}}
    Facebook
  {{- else if eq $name "instagram" -}}
    Instagram
  {{- else if eq $name "linkedin" -}}
    LinkedIn
  {{- else -}}
    {{ $name }}
  {{- end -}}
</span>